<!--The whole content below can be removed with the new code.

<link rel="stylesheet" ng-href="{{ url }}">
-->

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul>
<br><br>
<button type="button" class="btn" (click)="changeTheme()">Change theme!</button>
